<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <header class="site-header" role="banner">
      <div class="wrapper">
        <span class="site-title">
          {{ site.title }}
        </span>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">

          <h1 class="page-heading">Details</h1>

          <ul class="post-list">
            <li>When: November 25, 2017</li>
            <li>Where: NSW, Australia</li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
